<div class="form-style-5">
    <form action="/addtarefa" method="POST">
        <fieldset>
            <legend><span class="number">1</span> Cadastrar tarefa</legend>
                <input type="number" name="id" placeholder="Numero da tarefa">
                <input type="text" name="titulo" placeholder="Titulo *">
                <textarea name="comentario" placeholder="Comentario"></textarea>
        <input type="submit" value="Cadastrar tarefa" />
    </form>
</div>