<h1>Cadastrar tarefa</h1>
<form action='/addtarefa' method='POST'>
    <label>Titulo: </label>
    <input type='text' name='titulo'> <br><br>

    <label>Comentário:</label>
    <input type='text' name='comentario'> <br><br>
    

    <p><b>Marque a caixa caso queira editar uma tarefa</b></p>
    <input type='checkbox' id='myCheck' onclick='myFunction()'>
    <p id="text" style="display:none">Checkbox is CHECKED!</p><br>
    <input type='text' name='id'><br><br>
    
    

    <button type='submit'>Cadastrar tarefa</button>

    <button type='redirect'>Listar tarefas</button>
</form>