<h1>Cadastrar tarefa</h1>
<form action="/addtarefa" method="POST">

    <label>Numero da tarefa</label>
    <input type="number" name="id"> <br><br>

    <label>Titulo: </label>
    <input type="text" name="titulo"> <br><br>

    <label>Comentário:</label>
    <input type="text" name="comentario"> <br><br>

    <button type="submit">Cadastrar tarefa</button>
  
</form>