<div class="form-style-5">
    <form action="/edtarefa" method="POST">
        <fieldset>
            <legend><span class="number">1</span> Editar tarefa</legend>
                <input type="number" name="idtarefa" placeholder= "Numero da tarefa">
                <input type="text" name="titulo" placeholder="Novo Titulo *">
                <textarea name="comentario" placeholder="Novo Comentario"></textarea>
        <input type="submit" value="Editar tarefa" />
    </form>
</div>


