<h1>"Editar tarefa" em construção</h1>
{{#each tarefas}}
    <div hidden>
        <label>Tarefa a ser editada: <b>{{id}}</b></label><br><br>
        <label>Novo titulo: </label>
        <input type="text" name="newtitulo"><br><br>

        <label>Novo comentario: </label>
        <input type="text" name="newcomentario"><br><br>

        <button id='popup'>Confirmar </button><br><br>
    </div>

{{/each}}



