<h1 style ='text-align:center'>Bem vindo,</h1>
<h3 style ='text-align:center'>Com o que posso te ajudar?</h2><br>
<div class="container">
    <button onclick="location.href = 'http://localhost:3030/cadtarefa';"   id="myButton"  class="btn btn-primary" >Cadastrar Tarefa</button>
    <button onclick="location.href = 'http://localhost:3030/tarefa';" id="myButton" class="btn btn-primary" >Listar Tarefas</button>
</div>