<h1>Bem vindo,</h1>
<h2>Selecione uma opção</h2>
<button onclick="location.href = 'http://localhost:3030/cadtarefa';" id="myButton" class="float-left submit-button" >Cadastrar Tarefa</button> <br><br>
<button onclick="location.href = 'http://localhost:3030/tarefa';" id="myButton" class="float-left submit-button" >Listar Tarefas</button>
